.bicicletas .container h2 {
  margin-bottom: 40px;
}

.bicicletas-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  position: relative;
}

.bicicletas-lista li p {
  margin-top: 16px;
  margin-bottom: 8px;
}

.bicicletas-lista li p,
.bicicletas-lista li span {
  margin-left: 20px;
}

.bicicletas-lista li p::before {
  content: "";
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  position: absolute;
  margin-left: -20px;
  margin-top: 15px;
}
