body,
h1,
h2,
h3,
h4,
p,
a,
li,
ul,
dd,
dl,
dt,
blockquote {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  all: initial;
}
