.introducao-bg {
  background: var(--cor-b);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo h2 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
}
